<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h1>Welcome <%= session.username %></h1>
        <p>Your id is <%= session.ids %></p>
        <a href="/logout">Logout</a>
        <a href="/news">News</a>
        <a href="/profile">Profile</a>
        <a href="/users">Users List</a>

        <div id="chat"></div>
        <% for(var i = messages.length - 1; i >= 0 ; i--){ %>
            <div><%= messages[i].sender %> : <%= messages[i].text %></div>
        <% } %>
        <form action="" id="messageForm">
            <label> Enter message : </label>
            <textarea id="message"></textarea>
            <input type="submit" value = "Send Message">
        </form> 
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script><script
        src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script>
           $(function(){
               var socket = io.connect();
               var $messageForm = $('#messageForm');
               var $message = $('#message');
               var $chat = $('#chat');

               $messageForm.submit( (e) => {
                   e.preventDefault();
                   socket.emit('send message' , {
                       message : $message.val(),
                       chat : `<%= chat_id %>`,
                       sender : `<%= session.username %>`
                   });
                   $message.val('');
               });

               socket.on('new message on' + <%= chat_id %>, (data) => {
                   $chat.append('<div>' + data.sender + ' : ' + data.message + '</div>');
               });
           });
       </script>
    </body>
</html>
