<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Chat <%= session.username %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style>
      body{
        margin-top:30px;
      }
    </style>
  </head>
  <body>
    <a href="/users">Back</a>
    <div class="container">
      <div class="row" id="messageArea">
          <div class="col-md-4">
              <div class="well">
                <h3>Online Users</h3>
                <ul id="users" class="list-group">

                </ul>
              </div>
          </div>
          <div class="col-md-8">
            <div class="chat" id="chat">

            </div>
            <form action="" id="messageForm">
              <div class="form-group">
                <label>Enter Message</label>
                <textarea id="message" class="form-control"></textarea><br>
                <input type="submit" class="btn btn-primary" value="Send Message">
              </div>
            </form>
          </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script><script
    src="http://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script>
      $(function(){
        var socket = io.connect();
        var $messageForm = $('#messageForm');
        var $message = $('#message');
        var $chat = $('#chat');

        $messageForm.submit((e) => {
          e.preventDefault();
          if($message.val != ''){
          socket.emit('send message', {
            message : $message.val(), 
            user1 : <%= params.id1 %>, 
            user2 : <%= params.id2 %>, 
            sender : `<%= session.username %>`
          });
          $message.val('');
        }
        });
        socket.on('new message from ' + <%= params.id1 %> + "to" + <%= params.id2 %>, (data)=> {
          console.log(data);
          $chat.append('<div class="well">' + data.sender + ' : ' + data.msg + '</div>');
        });
        
        socket.on('new message from ' + <%= params.id2 %> + "to" + <%= params.id1 %>, (data)=> {
          console.log(data);
          $chat.append('<div class="well">' + data.sender + " : " + data.msg + '</div>');
        });
      });
    </script>
  </body>
</html>